
.nav-bottom {
    display: flex;
    justify-content: flex-end;
}

.nav-bottom-item {
    margin: 10px;
    cursor: pointer;
}

.areas-container {
    max-width: 95%;
    margin: auto;
    align-items: flex-start;
}

.area-box {
    min-width: 48%;
    max-width: 90%;
    margin: 20px auto 0 auto;
    padding: 5px;
}

.interior-display {
    padding: 5px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}

.entrance {
    width: 100%;
}

.entrance-select {
    margin: 10px;
}

.prompt {
    width: 90%;
    min-width: 500px;
    max-width: 900px;
    margin: auto;
}

.flex-wraps {
    flex-wrap: wrap;
}

.bottom-padding {
    height: 300px;
}
