
html {
    background-image: url("/triforce.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    position: relative;
    height: 100vh;
    background-color: #eeebe1;
}

.zootr-entrance-tracker {
    padding-top: 100px;
}

.bottom-padding {
    height: 300px;
}

.nav-bottom {
    display: flex;
    justify-content: space-between;
}

.nav-bottom-left,
.nav-bottom-right {
    display: flex;
}

.nav-bottom-item {
    padding: 4px;
    margin: 6px;
    cursor: pointer;
}

.route-finder {
    width: 95%;
    margin: auto;
}

.route-points-select {
    max-width: 500px;
    width: 95%;
    margin: auto;
}

.route-select-start,
.route-select-end {
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
    justify-content: space-between;
}

.routing-results {
    border-radius: 4px;
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.routing-results .route:not(:last-child) {
    border-bottom: 1px solid #a5a38c;
}

.route-step {
    width: auto;
    height: 100%;
}

.selected-location {
    align-items: center;
}

.selected-location .delete {
    margin-left: 10px;
}

.areas-container {
    max-width: 95%;
    margin: auto;
    align-items: flex-start;
    align-content: space-around;
    padding-bottom: 300px;
}

.area-box-container {
    margin: 20px auto 0 auto;
    padding: 5px;
}

.area-box {
    background-color: #fbfbfb;
}

.interior-display {
    padding: 5px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}

.interior {
    width: 100%;
}

.area-display {
    padding: 5px;
    margin: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.area-display-entrance {
    width: 100%;
    margin: 10px;
}

.has-background-red {
    background-color: #edbebf;
    border: 2px solid #b63e3e;
}

.has-border-red {
    border: 2px solid #b63e3e;
}

.has-background-green {
    background-color: #cbf7cd;
    border: 2px solid #69b76c;
}

.has-border-green {
    border: 2px solid #69b76c;
}

.entrance {
    width: 100%;
}

.entrance-name {
    margin-left: 15px;
}

.entrance-select {
    margin: 10px;
}

.user-prompts {

}

.prompt {
    width: 90%;
    min-width: 500px;
    max-width: 900px;
    margin: auto;
}

.prompt-question {

}

.prompt-select {
    align-items: center;
    padding: 0;
}

.flex-wraps {
    flex-wrap: wrap;
}
