
html {
    background-image: url("/triforce.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    position: relative;
    height: 100vh;
    background-color: #eeebe1;
}

/* Nav */
.nav-bottom {
    display: flex;
    justify-content: space-between;
}

.nav-bottom-left,
.nav-bottom-right {
    display: flex;
}

.nav-bottom-item {
    padding: 4px;
    margin: 6px;
    cursor: pointer;
}

.nav-bottom-message {

}

/* App Config */
.app-config {
    display: flex;
    width: 95%;
    max-width: 1000px;
    margin: auto;
    justify-content: space-around;
    padding: 15px;
}

.config-control {
    margin: 10px;
}

.route-finder {
    width: 95%;
    margin: auto;
}

.route-points-select {
    max-width: 500px;
    width: 95%;
    margin: auto;
}

.route-select-start,
.route-select-end {
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
    justify-content: space-between;
}

.routing-results {
    border-radius: 4px;
    width: 95%;
    max-width: 1400px;
    margin: auto;
    padding: 10px;
}

.routing-results .route:not(:last-child) {
    border-bottom: 1px solid #a5a38c;
    padding: 5px 0;
}

.route-step {
    width: auto;
    height: 100%;
    border-radius: 4px;
}

.selected-location {
    align-items: center;
}

.selected-location .delete {
    margin-left: 10px;
}

/* AREAS */
.areas-container {
    max-width: 95%;
    margin: 20px auto;
    align-items: flex-start;
    align-content: space-around;
    justify-content: space-around;
}

.area-card {
    margin: 10px;
}

.area-card-header {
    justify-content: space-between;
    align-items: center;
}

.area-card-name {
    color: whitesmoke;
    margin: 2px 10px;
}

.area-card-content {
    background-color: #fbfbfb;
    padding: .7rem;
}

.card-columns {

}

.card-column {
    padding: .5rem;
}

.interior-display {
    margin: 5px 0;
    align-items: center;
    justify-content: space-between;
}

.interior {
    width: 100%;
    padding: 5px 10px;
}

.area-display {
    margin: 5px 0;
    align-items: center;
    justify-content: space-evenly;
    border-right: 4px solid grey;
}

.area-display-entrance {
    width: 100%;
    text-align: right;
}

.check-not-cleared.hovered {
    background-color: #edbebf;
}

.check-not-cleared {
    border-right: 4px solid #b63e3e;
}

.check-cleared.hovered {
    background-color: #cbf7cd;
}

.check-cleared {
    border-right: 4px solid #69b76c;
}

.entrance {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

/* .entrance-name {

} */

.entrance-spacer {
    width: 20px;
}

.entrance-select {
    margin: 5px;
}

.remove-choice {
    margin: 0 5px;
}

/* Prompts */
.user-prompts .prompt:first-child {
    border-top: 1px solid #a5a38c;
}

.user-prompts .prompt:last-child {
    border-bottom: 1px solid #a5a38c;
}

.prompt {
    width: 90%;
    max-width: 900px;
    margin: auto;
}

.prompt-select {
    align-items: center;
    padding: 0;
}

.prompt-field {
    margin-bottom: 0rem !important;
}

/* Songs */
.songs-container {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.warp-song {
    padding: 10px;
    margin: 5px;
}

/* Helpers */
.flex-wraps {
    flex-wrap: wrap;
}
